/* Nền toàn trang */
body {
    margin: 0;
    background-color: #f2f2f2;
    color: #000;
}

/* Grid container */
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

/* Card */
.product-card {
    background-color: #1871b0;
    /* xanh nhạt */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    color: #000;
    /* chữ đen */
}

/* Tablet */
@media (max-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .product-container {
        grid-template-columns: 1fr;
    }
}